*{
	margin: 0;
	padding: 0;
	list-style: none;
	}

.body {
	font-family: 'Noto Sans HK', sans-serif;
}

/* 頁首 */
.wrapper {
	background: #fffff0;
}

.header {
    display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #E0E0E0;
	background: #fffff0;
	/* position:fixed;
    top: 0;
    right: 0;
    left: 0;
	z-index: 99;
	opacity: .9; */
}

.header h1 {
	font-size: 24px;
}

.background {
	max-height: 550px;
	overflow: hidden;
}

.logo > img {
	width: 120px;
}

.nav-bar-left {
	cursor: pointer;
    display: flex;
    justify-content: center;
	align-items: center;
}

.nav-bar-left .nav a{
	font-family: 'Noto Sans HK', sans-serif;
	color: black;
	text-decoration:none;
}

.nav-bar-left .nav a:hover {
	color: #e5488a;
	transition: all .35s;
} 

.nav-bar-right {
	cursor: pointer;
    display: flex;
    justify-content: center;
	align-items: flex-end;
}

.nav-bar-right .nav a{
	font-size: 22px;
	color: black;
}

.nav-bar-right .nav a:hover {
	color: #e5488a;
	transition: all .35s;
} 

/* 購物車頁面 */
.content .title {
    border-bottom: 1px solid #E0E0E0;
}

.content > p:nth-of-type(1) {
    text-align: center;
    font-size: 26px;
    margin: 2.5em;
}

.title .row .col-12:nth-of-type(3) {
    text-align: right;
}

.content img {
    height: 200px;
}

.content .allitems .item {
    display: flex;
    /* justify-content:center; */
} 

.allitems {
    margin: 1em;
    padding-bottom: 2em;
    border-bottom: 1px solid #E0E0E0;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.text p:first-child {
    font-size: 14px;
}

.text p:nth-of-type(2), .text p:nth-of-type(3) {
    font-size: 12px;
    color: #7B7B7B;
}

.content .amount {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    border: 1px solid #ADADAD;
    color: #ADADAD;
    border-radius: 2px;
}

.content .amount i {
    cursor: pointer;
}

.content .amount i:hover {
    color: #5B5B5B;
}


.allitems a {
    margin-left: 30px;
    text-decoration: none;
    color: #ADADAD;
    font-size: 14px;
}

.allitems a:hover {
    color: black;
    border-bottom: 1px solid black;
}

.content .cash {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #ADADAD;
    font-size: 14px;
}

.Settlement{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
}

.Settlement p {
    color: #ADADAD;
    font-size: 14px;
}



/* 頁尾 */
.footer {
	border-top:  1.5px solid #D0D0D0;
	background: #fffff0;
	font-family: 'ZCOOL KuaiLe', cursive;
}

.footer-container {
    display: flex;
	justify-content:space-between;
}

.footer-nav a{
	font-size: 14px;
	cursor: pointer;
	text-decoration: none;
	color: black;
}


.footer-nav a:hover{
	color: #9D9D9D;
}

.footer p {
	font-size: 12px;

}

.about p:first-child, .end-menu p, .message p:first-child {
	font-weight:bold;
	font-size: 16px;
}

.message input {
	background: #fffff0;
	border: 1px solid #BEBEBE;
	border-radius: 3px;
}


.message_btn{
    padding: 80px;
    display: flex;
    justify-content:center;
    align-items: center;
}


.message_btn{
    font-size: 12px;
    padding: 10px 15px;
    background:#f5db8b;
    border: 1px solid #f5db8b;
    letter-spacing: .2em;
    border-radius: 2px; 
    cursor: pointer;
    position: relative;
    transition: all .35s;
}

.message_btn a {
    text-decoration:none;
    color: black;
    z-index: 2;
}


.message_btn:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #fffff0;
    transition: all .35s;
    border-radius: 2px;
}

.message_btn:hover a{
    color: #f5db8b;
}

.message_btn:hover:after{
    width: 100%;
}

.footer-logo {
	text-align: center;
}